registry=https://pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/ 
always-auth=true


# ; begin auth token
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:_password=Z3huN3Nxd2VxcW9qNjV0MnQzbWhxeWRoNzI0eGd2b3AyNm1jbWV0b2thZXFpZmRnZTdiYQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:email=zamanm.contractor@elementsgs.com
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:_password=Z3huN3Nxd2VxcW9qNjV0MnQzbWhxeWRoNzI0eGd2b3AyNm1jbWV0b2thZXFpZmRnZTdiYQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:email=zamanm.contractor@elementsgs.com

# ; end auth token